.bg-color {
  &-white {
    background-color: var(--color);
  }

  &-grey {
    background-color: var(--color);
  }

  &-main {
    background-color: var(--color);
  }

  &-light {
    background-color: var(--color-main);
  }

  &-dark {
    background-color: var(--color-main);
  }

  &-secondary {
    background-color: var(--color);
  }

  &-text {
    background-color: var(--color);
  }

  &-link {
    background-color: var(--color);
  }
}
