.text-color {
  &-white {
    color: var(--color);
  }

  &-grey {
    color: var(--color);
  }

  &-main {
    color: var(--color);
  }

  &-light {
    color: var(--color-main);
  }

  &-dark {
    color: var(--color-main);
  }

  &-secondary {
    color: var(--color);
  }

  &-text {
    color: var(--color);
  }

  &-link {
    color: var(--color);
  }
}
